<form [formGroup]="form">
    <p>Sellers</p>
    <div class="form-check">
      <input type="checkbox" formControlName="amazon" class="form-check-input" id="amazon">
      <label class="form-check-label" for="amazon">Amazon</label>
    </div>
    <div class="form-check">
      <input type="checkbox" formControlName="flipkart" class="form-check-input" id="flipkart">
      <label class="form-check-label" for="flipkart">Flipkart</label>
    </div>
    <div class="form-check">
        <input type="checkbox" formControlName="ebay" class="form-check-input" id="ebay">
        <label class="form-check-label" for="ebay">eBay</label>
      </div>
      <div class="form-check">
        <input type="checkbox" formControlName="etsy" class="form-check-input" id="etsy">
        <label class="form-check-label" for="etsy">Etsy</label>
      </div>
      <div class="form-check">
        <input type="checkbox" formControlName="walmart" class="form-check-input" id="walmart">
        <label class="form-check-label" for="walmart">Walmart</label>
      </div>
   
  </form>
  